doctype html
html
    head
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
    body
        block main-content
        include scripts
